<!DOCTYPE html>
<html>
  <head>
    <title>Paintiro</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--  bootstrap links-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../css/general/general.css" />
    <link rel="stylesheet" href="../../css/components/header2.css" />
    <link rel="stylesheet" href="../../css/components/footer.css" />
    <link rel="stylesheet" href="../../css/pages/paymentError.css" />
  </head>

  <body style="background-color: white !important">
    <%- include('../includes/header2'); %>
    <div class="container">
        <div class="flex-container-center">
              <h3> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="DarkRed" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>  Oops! Something went wrong.</h3>
        </div>
        <div class="flex-container-center">
        <h3>While trying to reserve money from your account</h3>
    </div>
           
       
    </div>
    <div class="flex-container-center">
        <form action="../payment" method="post">
          <input hidden value="<%=firstName%>" name="firstName" />
          <input hidden value="<%=lastName%>" name="lastName" />
          <input hidden value="<%=email%>" name="email" />
          <input hidden value="<%=phoneNumber%>" name="phoneNumber" />
          <input hidden value="<%=city%>" name="city" />
          <input hidden value="<%=street%>" name="street" />
          <input hidden value="<%=BuildingNumber%>" name="BuildingNumber" />
          <input hidden value="<%=floorNumber%>" name="floorNumber" />
          <input
            hidden
            value="<%=apartmentNumber%>"
            name="apartmentNumber"
          />
          <input hidden value="<%=address%>" name="address" />

          <div class="row margin-top-20">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <input
                type="submit"
                name=""
                class="blackButton"
                value="TRY AGAIN"
              />
            </div>
            <div class="col-xs-4"></div>
          </div>
        </form>
    </div>
    </div>
    <br><br><br><br><br><br><br>
    <%- include('../includes/footer'); %>
  </body>
</html>
